{% extends 'base.html' %}
{% block content %}
    <div class="p-5 mt-5 col-lg-6" style="background-color: rgba(0,0,0,0.2)">
    <div class="py-5">
        <p class="h3">TAR | bazar</p>
        <p class="lead">Enhance your business</p>
        <p class="text-danger small tb_removespace">Cloud Based POS System with own Ecommerce - Connected with Daraz and Amazon</p>
        <p class="text-danger small tb_removespace"></p>
        <hr>
        <p class="lead">Releases</p>
        <table class="small text-left">
            <tr>
                <th>Point of Sale</th>
                <td>25 December, 2019</td>
            </tr>
            <tr>
                <th>Ecommerce Support</th>
                <td>25 January, 2019</td>
            </tr>
            <tr>
                <th>Daraz | Amazon Connectivity</th>
                <td>25 Febuary, 2019</td>
            </tr>
        </table>
        <hr>
        <p class="lead">About Us</p>
        <p class="small">Developing by <b>MarkI</b>  Under the Supervsion of <b>Bilal Khan</b> and <b>Rashid Mehmood</b></p>
        <hr>
        <p class="lead"></p>
        <img src="../static/images/companyLogo.png" height="150">

    </div>
    </div>
{% endblock %}